/* import a cool font or just set default for now */
/* there are two fonts */
/* add some root colors that are cute */
/* buttons are styled the same */

:root {
	--font-h1: "monospace"; 
    --font-body: serif;
	--font-color: #F4A8A5;
	--box-color: #5A3E79;
}
body {
    margin: 0;
    padding: 0;
}
main {
    background-image: url("../img/horoscope-circle.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: var(--font-color)
}
/* mobile first design */
.form-wrapper {
    height: 80vh;
    width: 90%;
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    /* tweek */
    justify-content: space-around;
    align-items: center;
}
.responce {
    display: flex;
    flex-direction: column;

}
/* button */