:root {
	--font-h1: monospace; 
    --font-body: sans-serif;
	--font-color: #F4A8A5;
	--box-color: #5A3E79;
}
body {
    margin: 0;
    padding: 0;
    color: var(--font-color)
}
main {
    background-image: url("../img/horoscope-circle.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: var(--font-h1);
    font-size: 2rem;
}
label {
    font-weight: bold;
    font-size: 1.5rem;
}
p {
    font-family: var(--font-body);
    font-size: 1.2rem;
    padding: 1rem;
}

/* mobile first design */
.form-wrapper {
    height: 80vh;
    width: 90%;
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    /* tweek */
    justify-content: space-around;
    align-items: center;
}
label {
    padding: .5rem;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    gap: 2rem;
}
.response {
    display: flex;
    flex-direction: column;
    text-align: center;
}

select {
    font-size: 1.4rem;
    color: var(--font-color);
    background: none;
    border: var(--font-color) solid .2rem;
}

button {
    font-size: 1.3rem;
    color: var(--font-color);
    background: none;
    border: var(--font-color) solid .2rem;
    border-radius: .5rem;
    margin: auto;
    margin-bottom: 0;
    padding: .5rem;
    cursor: pointer;
}